{% extends "base.html.twig" %}

{% block body %}
<div class="container">
<h1 class="text-center my-3">Inscription</h1>

<div class="col-12 d-flex justify-content-center">
{{ form_start(form,{'attr': {'class':"w-50"}}) }}
<div class="mb-3">
{{form_row(form.username, {'label':'Nom d\'utilisateur :','attr':{'placeholder':'Nom d\'utilisateur ...'}}) }}
</div>
<div class="mb-3">
{{form_row(form.email, {'label':'Adresse email :','attr':{'placeholder':'Adresse email ...'}})  }}
</div>
<div class="mb-3">
{{form_row(form.password, {'label':'Mot de passe :','attr':{'placeholder':'Mot de passe'}}) }}
</div>
<div class="mb-3">
{{form_row(form.confirm_password, {'label':'Confirmation du mot de passe :','attr':{'placeholder':'Répétez votre mot de passe'}}) }}
</div>

<div class="d-grid gap-2">
{{form_widget(form)}}
<button type="submit" class="btn btn-success text-center">Inscription </button>
</div>

{{form_end(form) }}
</div>
</div>
{% endblock %}