{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<article>
  <div class="row">
  <div class="col-12 d-flex flex-column">
      <h1 class="text-center mt-4">{{ article.title }}</h1>
      <div class="metadata text-center">Ecrit le {{article.createdAt | date('d/m/Y')}} à {{article.createdAt | date('H:i')}} dans la catégorie {{article.category.title}}
      </div>
      <div class="content col-6 d-flex flex-column mx-auto">
          <img src="{{article.image}}" class="rounded my-4 justify-content-center w-auto"alt=""> <br>
        {{article.content | raw }}
      </div>
    </div>
  </div>
</article>

<section id="commentaires">
    <h2 class="ms-4 my-3">{{article.comments | length }} commentaires</h2>
    {%for comment in article.comments %}
        <div class="card ms-4 mb-3" style="max-width: 70rem;">
    <div class="card-body">
      <h5 class="card-title"> {{comment.author}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{comment.createdAt | date('d/m/Y à H:i')}}</h6>
      <p class="card-text">{{comment.content | raw}}</p>
    </div>
  </div>
    {% endfor %}

    {% if app.user %}
    {{ form_start(commentForm)}}
    {{ form_row(commentForm.author,{'attr':{'placeholder':"Votre nom"}})}}
    {{ form_row(commentForm.content,{'attr':{'placeholder':"Votre commentaire"}})}}

    <button type="submit" class="btn btn-success">Commenter</button>
    {{ form_end(commentForm) }}

    {% else %}
    <div class="col-12 d-flex flex-column">
    <h2 class="text-center">Vous ne pouvez pas commenter si vous n'êtes pas connecté ! </h2>
    <a href="{{path('security_login')}}" class="btn btn-primary justify-content-center d-md-block ">Connexion</a>
    </div>
    {% endif %}
</section>
</div>
{% endblock %}
